<div class="contact">
    <img src= "<%=dp_link%>" alt="profile pic" class="contactPic">
<div class="contactNameAndMsg">
    <div class="contactName">
        <%=user_handle%>
    </div>
    <div class="contactMsg">
        <%=message %>
    </div>
</div>

</div>