<div class="contact">
    <div class="contactPic">
        <img src= "<%=dp_link%>" alt="profile pic" id="contactImg">
    </div>
<div class="contactNameAndMsg">
    <div class="contactName">
        <%=user_handle%>
    </div>
    <div class="contactMsg">
        <%=message %>
    </div>
</div>

</div>
