* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.leader{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#leftPanel{
    width: 30%;
    border-right:1px solid rgb(255, 255, 255);
}

.userInfo{
    height: 70px;
    background: #6764ff ;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    border-bottom:1px solid rgb(255, 255, 255);
}
.userPic{
    width:54px;
    height: 54px;
    background: rgb(240, 240, 240);
    border-radius: 50%;
    margin:0 20px;
}
.userPic img{
    width:100%;
    height: 100%;
    padding: 7px;
}

.logout{
    padding:0 45px ;
}
.logout button{
    background: #6764ff ;
    border: none;
    padding: 5px 5px;
    text-decoration: none;
    transition-duration: 0.2s;
    cursor: pointer;
}

.logout button img{
    padding: 3px;
    width: 35px;
    height: 35px;
    opacity: 0.8;
    transition: 0.1s;
}

.logout button:hover img{
    width: 37px;
    height: 37px;
}

.contacts{
    height: fit-content;
    background-color: #dfe3ee;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow-y: scroll;
    height: 90.66vh;
}


.serachBar{
    padding: 2px;
    height: 50px;
    background: rgb(255, 0, 0);
    width: 90%;
    display: flex;
    flex-direction: row;
    margin: 10px;
    font-family: 'Roboto', sans-serif;
}
#search{
    background: rgb(211, 211, 211);
    border-radius: 50px;
    padding:20px;
    border: none;
    width: 85%;
    height:100%;
    font-size: 1.2rem;
    font-weight: lighter;
    z-index: 2;
}

.contact{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 100px;
    border-bottom:1px solid #f7f7f7 ;
}

.contactPic{
    width:54px;
    height: 54px;
    background: rgb(240, 240, 240);
    border-radius: 50%;
    margin:0 20px;
}
.contactMsg{
    font-size: 1.2rem;
    max-width: 200px;
    max-height: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.contactPic img{
    width:100%;
    height: 100%;
    padding: 7px;
}

.contactName{
    font-size: 1.7rem;
}


#rightPanel{
    width: 70%;
}

.recieverInfo{
    height: 70px;
    background: linear-gradient(90deg, rgba(103,100,255,1) 0%, rgba(130,127,254,1) 100%); 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-bottom:1px solid rgb(255, 255, 255);

}

#receiverPicAndName{
    padding: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.recieverPic{
    width:54px;
    height: 54px;
    background: rgb(240, 240, 240);
    border-radius: 50%;
    margin:0 20px;
}
.recieverPic img{
    width:100%;
    height: 100%;
    padding: 7px;
}

.receiverName{
    font-size: 1.7rem;
}

.back{
    width: 60px;
    height: 60px;
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.back img{
    cursor: pointer;
    width: 0;
    height: 37px;
    opacity: 0.75;
}
.chat{
    width: 100%;
    display: flex;
    flex-direction: column;
}

#chatHistory{
    width: 100%;
    height:81.6vh;
    overflow-y: scroll;
    background: #b8c0c9;
}
.sender {
    background: #8098cc;
    padding: 18px;
    border-radius: 35px 0px 35px 35px;
    margin: 10px 40px 5px auto;
    width:max-content;
    max-width: 30%;
    position: relative;
    word-wrap: break-word;
    white-space: pre-line;
    
}
.reciever {
    border-radius: 0px 35px 35px 35px;
    background: #bfd6f6 ;
    margin:10px 0 5px 40px;
    padding: 12px;
    width: max-content;
    max-width: 30%;
    position: relative;
    word-wrap: break-word;
    white-space: pre-line;
}

.message{
    font-size: 0.95rem;
    padding: 8px;
}

.timeAndRead{
    position: absolute;
    font-size: 0.8rem;
    right: 11%;
    bottom: 4%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: rgb(85, 85, 85);
}

.time ,.read{
    padding: 4px;
}

textarea {
    margin: 10px 0 0 20px;
    resize: none;
    font-size: 16px;
    width: 90%;
}
.mesaageInputAndSend{
    bottom: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: #dfe3ee ;
}

#messageInputField{
    margin-bottom: 5px;
    padding: 10px;
    font-size: 1.2rem;
    width: 90%;
    border-radius: 50px;
    height: 45px;
    max-height: 105px;
    border: none;
}

#sendBtn{
    width: 48px;
    margin: 10px;
    height: 48px;
    border-radius: 50%;
    background: #3b589800;
    cursor: pointer;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
#sendBtn:hover img{
    transform: translateX(5px);
}
#sendBtn img{
    width: 40px;
    height: 40px;
    border: none;
    padding: 4px;
    transition: 0.3s;

}

@media only screen and (max-width: 1050px) {
    #leftPanel{
        width: 45%;
    }

    
    #rightPanel{
        width: 55%;
    }
    .sender , .reciever{
        max-width: 70%;
    }
  }

@media only screen and (max-width: 576px) {
    #leftPanel{
        width: 100%;
    }

    .back img{
        width: 37px;
    }
    
    #rightPanel{
        width: 0%;
        display: none;

    }
    .sender , .reciever{
        max-width: 70%;
    }
  }