* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.sender {
    white-space: pre-line;
    background: rgb(173, 255, 125);
    padding: 15px;
    border-radius: 18px 0px 18px 18px;
    margin-top: 10px;
    margin-right: 10px;
    width: max-content;
    max-width: 30vw;
    word-wrap: break-word;
    float: right;
    clear: right;
}
.reciever {
    white-space: pre-line;
    border-radius: 0px 18px 18px 18px;
    background: rgb(255, 169, 160);
    margin-left: 10px;
    padding: 8px;
    margin-top: 10px;
    width: max-content;
    max-width: 30vw;
    word-wrap: break-word;  
}
textarea {
    resize: none;
    font-size: 16px;
}
.mesaageInputAndSend{
    bottom: 10px;
}